$margin-indents: 0 auto 15px auto;

.Sensor {
    width: 200px;
    padding: 20px;
    background-color: #efe;
    border: 1px solid #ccc;
    border-radius: 30px;

    .icon {
        width: 100px;
        height: 100px;
        margin: $margin-indents;
        display: block;
    }

    .title {
        width: fit-content;
        margin: $margin-indents;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 10px;
    }
}
