@import url("https://fonts.googleapis.com/css2?family=Farsan&family=Racing+Sans+One&family=Space+Mono:wght@700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    box-sizing: border-box;
    background-color: #24252a;
    align-items: center;

    > .logo {
        margin: 0px;
        color: #fff;
        letter-spacing: 8px;
        font-size: 30px;
        cursor: pointer;
        padding-left: 20px;
    }

    .nav {
        position: relative;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 10px;
    }

    .text-inline {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            transition: all 0.3s ease 0s;
            color: rgba(0, 136, 169, 0.8);
        }
    }
    .login {
        width: 300px;
    }
    .time-clock {
        font-size: 25px;
        letter-spacing: 3px;
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}
a {
    text-decoration: none;
}
